{% extends 'layouts/nav.html'%}

{% load static %}


{% block content %}
  <div class="">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>Registro Personal</h1>

        <div class="">
            <input type="text" name="name" placeholder="Nombres"><br>
            <input type="text" name="lastname" placeholder="Apellidos"><br>
            <input type="text" name="position" placeholder="Cargo"><br>
            <input type="number" name="identificate" placeholder="Cedula"><br>
            <input type="file" name="facial" placeholder="Imagen"><br>

            <!-- Buttom -->
            <button type="submit">Registrar</button>
        </div>

    </form>
  </div>
{% endblock %}
