{% extends 'layouts/nav.html'%}

{% load static %}


{% block content %}
  <div class="form-container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>Registro Personal</h1>

        <div class="">
          <div class="form-group">
            <input type="text" name="name" placeholder="Nombres">
          </div>
          
          <div class="form-group">
              <input type="text" name="lastname" placeholder="Apellidos">
          </div>

          <div class="form-group">
              <input type="text" name="position" placeholder="Cargo">
          </div>

          <div class="form-group">
              <input type="number" name="identificate" placeholder="Cedula">
          </div>


          <video id="video" width="640" height="480" autoplay></video>
          <button type="button" id="capture">Tomar Foto</button>
          <canvas id="canvas" width="640" height="480"></canvas>
          <img id="photo" alt="Tu foto aparecerá aquí">
          <!-- Campo oculto para almacenar la captura de la cámara -->
          <input type="hidden" name="facial" id="facialInput">
          <button type="submit">Tomar foto</button>

          <!-- Button -->
          <div class="form-group">
              <button type="submit">Registrar</button>
          </div>
        </div>

    </form>
  </div>
  


{% endblock %}
